#=== FOLDER EXCLUDES ===
#IntelliJ related
.idea/*

#all embedded database related files
db/*

#all config files
config/*

#all transpiled files
out/*

#coverage related (nyc)
coverage/*
.nyc_output/*